@font-face {
    font-family: 'Cardium';
    src: url('../fonts/Cardium-Font/cardiuma-regular.otf');
}
@keyframes fade {
    from {opacity: .4} 
    to {
        opacity: 1;
    }
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Cardium', sans-serif;
}
.fades {
    animation-name: fade;
    animation-duration: 2s;
}
.shown{
    display: block;
}
.hidden{
    display: none;
}
.my-nav{
    padding-left: 38px;
    padding-right: 38px;
}
.my-nav-brand{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
.future{
    color: white;
    margin-top:-90px; 
    margin-left: 50px;
}
.dot {
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active_dot{
    background-color: white;
    transition: background-color 0.6s ease;
}
#wiin{
    background-color: white;
    margin-bottom: 60px;
}
#stat_div>div{
    text-align: center;
}
.hr{
    width: 50px;
    margin: 10px auto;
}
#wwa_ic{
    background-color: rgba(224, 247, 254, 1);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    box-shadow: -2px 2px 0px rgba(0, 0, 0, 1);
}
.images{
    width: 100%;
}
.active_tab{
    border-bottom: 3px solid yellow;
    color: rgba(67, 171, 223, 1);
    /* padding-bottom: 5px; */
}
/* #cont{
    width: 64%;
} */
.big_img{
    margin-top: -10px;
}
.cont{
    margin: 0;
}
.baa{
    width: 72%;
}
.blogs{
    /* width: 100px; */
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer{
    font-size: 10px;
}
.ff{
    height: 50px;
}
.centrable>div{
    border-radius: 10px;
}
.custom_color{
   color: rgba(43, 45, 66, 1);
}
.c_color{
    color: rgba(67, 171, 223, 1);
}
.rss{
    background-color: rgba(67, 171, 223, 1);
    /* border: 1px solid; */
}
.p_color{
    color: rgba(31, 31, 83, 1)
}
.mvs{
    font-size: 10px;
}

@media (min-width: 992px){
    /* .chr{
        width: 80%;
    } */
    .baa{
        font-size: 20px;
    }
    #future_container{
        height: 170px;
        bottom: 0;
        margin: auto 0;
    }
    #future_row{
        margin-left: 50px;
    }
    #future h1{
        font-size: 70px;
        display: block;
    }
    #future_h1_2{
        display: none;
    }
    #future_p {
        width: 40%;
        font-size: 20px;
    }
    #future_btn_grp{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #wiin{
        position: relative;
        margin-top: -50px;
        z-index: 2;
    }
    .chng{
        background-color: white;
    }

}
@media(max-width: 991px){
    .tabs{
        overflow-x: scroll;
    }
    #future_container{
        text-align: center;
        bottom: 0;
        display: flex;
    }
    #future_col{
        /* border: 1px solid red; */
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    #future_h1{
        display: none;
    }
    #future_h1_2{
        display: block;
        font-size: 30px;
    }
    #dot_div{
        margin-top: 20px;
    }
    #wiin{
        position: relative;
        /* margin-top: -50px; */
        z-index: 2;
    }
    .big_img{
        margin-top: 0;
    }
    .baa{
        width: auto;
        font-size: 15px;
    }
    .cont{
        text-align: center;
    }
    .centrable{
        align-items: center;
    }
    .fyd{
        padding-left: 0;
        padding-right: 0;
    }
}